<h2 class="page-header"><%= book.name %></h2>
<div class="book-details">
  <div>
    <img
      class="book-cover"
      src="<%= book.coverImagePath %>"
      title="<%= book.name %> "
      alt="<%= book.name %> "
    />
    <div class="book-btn-grid">
      <a class="btn btn-primary" href="/books/<%= book.id  %>/edit">Edit</a>
      <%- include("../partials/deleteform",{url:`/books/${ book.id}`}) %>
      <a class="btn btn-primary author-btn" href="/books/<%= book.author.id  %>"
        >View Author</a
      >
    </div>
  </div>

  <div class="book-details-grid">
    <div class="book-details-label">Author:</div>
    <div><%= book.author.name %></div>
    <div class="book-details-label">Publish Date:</div>
    <div><%= book.publishDate.toDateString() %></div>
    <div class="book-details-label">Page Count:</div>
    <div><%= book.pageCount %></div>
    <div class="book-details-label">Genre:</div>
    <div><%= book.genre %></div>
    <div class="book-details-label">Rating:</div>
    <div><%= book.rating %></div>
    <div class="book-details-label">Description:</div>
    <div><%= book.description %></div>
  </div>
</div>
