<h2 class="page-header"><%= book.name  %></h2>
<img width="250px" height="250px" src="<%= book.coverImagePath %>" title="<%= book.name %> " alt="<%= book.name %> " />
<div>Authors: <a href="/authors/<%= book.author.id  %>"><%= book.author.name  %></a></div>
<div>Published Date: <%= book.publishDate.toDateString()  %></div>
<div>Page Count: <%= book.pageCount  %></div>
<div>Description: <%= book.description  %></div>
<div>Genre: <%= book.genre  %></div>
<div>Rating: <%= book.rating  %></div>
<a class="btn btn-primary " href="/books/<%= book.id  %>/edit">Edit</a>
<%- include("../partials/deleteform",{url:`/books/${ book.id}`})  %>