<h2 class="page-header"><%= author.name %></h2>
<a class="btn btn-primary" href="/authors/<%= author.id %>/edit">Edit</a>
<%- include("../partials/deleteform",{url:`/authors/${ author.id}`}) %>
<h2>Works</h2>
<h3>Number of books: <%= books.length %></h3>
<div>
  <% books.forEach(book => { %>
  <a href="/books/<%= book.id  %>">
    <img
      width="250px"
      height="250px"
      src="<%= book.coverImagePath %>"
      title="<%= book.name %> "
      alt="<%= book.name %> "
    />
  </a>
  <% }) %>
</div>
