<h2 class="page-header"><%= author.name %></h2>
<div class="btn-row">
  <a class="btn btn-primary" href="/authors/<%= author.id %>/edit">Edit</a>
  <%- include("../partials/deleteform",{url:`/authors/${ author.id}`}) %>

</div>
<h2>Works</h2>
<h3>Number of books: <%= books.length %></h3>
<%- include("../partials/book-show.ejs",{
  books:books})%> 
